AUTH_SECRET=replace-with-a-random-secret
AUTH_GOOGLE_ID=replace-with-google-oauth-client-id
AUTH_GOOGLE_SECRET=replace-with-google-oauth-client-secret
NEXTAUTH_URL=http://localhost:3000/auth
NEXT_PUBLIC_APP_URL=http://localhost:3000
